/**
 * Site header
 */
.site-header {
       

    //background-color: $grey-color-light;
    //border-top: 1px solid $grey-color-shadow;
    //border-bottom: 1px solid $grey-color-shadow;
    min-height: 16px;
    position: fixed;
    // Positioning context for the mobile navigation icon
    //@include media-query($on-palm) {position: relative;}
}

.site-title {
    font-size: $minor-font-size;
    line-height: 24px;
    margin-bottom: 0;
    float: left;
    // Jake’s inserts
    text-transform: $biggies-case;
    letter-spacing: $biggies-lettering;
    font-weight:    $biggies-bold;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            //display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-shadow;    
    padding: $spacing-unit 0;
    background-color: $grey-color-light;
}

.footer-heading {
    color: white;
    font-size: $small-font-size;
    margin-bottom: $spacing-unit / 2;
    text-transform: $biggies-case;
    letter-spacing: $biggies-lettering;
    font-weight:    $biggies-bold;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 144px;
    text-transform: $biggies-case;
    letter-spacing: $biggies-lettering;
    font-weight:    $biggies-bold;
    margin: 0 0 $more-spacing-unit 0;
    @include media-query($on-laptop) {
            font-size: 28px;
    }
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
        
    }
}

.post-meta {
    font-size: $tiny-font-size;
    color: $grey-color;
}

.post-link {
    font-size: 16px;
    padding-right: 16px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    line-height: 1;
    text-transform: $biggies-case;
    font-weight:    $biggies-bold;
    letter-spacing: $biggies-lettering;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    min-height: 700px;


    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
 
}

hr {
    border: 1px dotted $grey-color-light;
}

.rss-subscribe {
    font-size: $minor-font-size;
}

.footertext {
    font-size: $minor-font-size;
    line-height: $minor-line-height;
    margin-top: 4px;
}
.post-index {
    border: 4px solid $brand-color;
    //border-radius: 5px;
    padding:6px 0 0 16px;
    box-shadow: 0 1px 1px $grey-color-light;
    
}

.topspacing{
    margin-top: $more-spacing-unit;
}

.home {    
    margin: 0 0 0 0;
}